@import '../../../styles/variables.scss';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1 0 auto;
    padding: 10px;
}

.post {
    cursor: pointer;
}

.footer {
    background-color: $dark-blue-color;
    color: $font-color;
    text-align: center;
    padding: 5px;
    height: 20px;
    width: 100%;
}